<div style="font-family:arial; font-size:12px; background: #ffffff; color: #111317;">
    {% mjml %}
        <mjml>
            <mj-body>
                {% block header %}
                    {{ include('@systemEmail/_global/html/header.html.twig') }}
                {% endblock %}

                <mj-section>
                    <mj-column width="600px">
                        <mj-text color="#111317" font-size="13px" font-weight="bold" font-family="helvetica">
                            Hallo {{ data.firstName }},
                        </mj-text>

                        <mj-text color="#111317" font-size="13px" font-family="helvetica">
                            vielen Dank für Deine Anfrage. Hier bekommst Du zu Deiner Kontrolle noch einmal
                            die Daten zugeschickt, die wir im System aufgenommen haben.
                        </mj-text>

                        <mj-text font-size="13px" color="#111317" font-family="helvetica">
                            Wir werden uns schnellstmöglich um Dein Anliegen kümmern.
                        </mj-text>

                        <mj-text font-size="13px" color="#111317" font-family="helvetica">
                            Liebe Grüße, Dein Team von Storysh.
                        </mj-text>
                    </mj-column>
                </mj-section>

                <mj-section>
                    <mj-column>
                        <mj-text font-size="13px" font-weight="bold" font-family="helvetica">
                            Vorname
                        </mj-text>
                        <mj-text font-size="13px" font-family="helvetica">
                            {{ data.firstName }}
                        </mj-text>
                        <mj-text font-size="13px" font-weight="bold" font-family="helvetica">
                            Nachname
                        </mj-text>
                        <mj-text font-size="13px" font-family="helvetica">
                            {{ data.lastName }}
                        </mj-text>
                        <mj-text font-size="13px" font-weight="bold" font-family="helvetica">
                            E-Mail
                        </mj-text>
                        <mj-text font-size="13px" font-family="helvetica">
                            {{ data.email }}
                        </mj-text>
                        <mj-text font-size="13px" font-weight="bold" font-family="helvetica">
                            Art der Zusammenarbeit
                        </mj-text>
                        <mj-text font-size="13px" font-family="helvetica">
                            {{ data.reason | trans }}
                        </mj-text>
                        <mj-text font-size="13px" font-weight="bold" font-family="helvetica">
                            Position
                        </mj-text>
                        <mj-text font-size="13px" font-family="helvetica">
                            {{ data.personDetail | trans }}
                        </mj-text>
                        <mj-text font-size="13px" font-weight="bold" font-family="helvetica">
                            Nachricht
                        </mj-text>
                        <mj-text font-size="13px" font-family="helvetica">
                            {{ data.message | raw }}
                        </mj-text>
                    </mj-column>
                </mj-section>

                <mj-section>
                    <mj-column>
                        <mj-button background-color="#E4545A" color="#ffffff" href="https://storysh.de/kooperation/{{ data.hash }}">
                            Zu Deiner Anfrage
                        </mj-button>
                    </mj-column>
                </mj-section>

                {% block footer %}
                    {{ include('@systemEmail/_global/html/footer.html.twig') }}
                {% endblock %}
            </mj-body>
        </mjml>
    {% endmjml %}
</div>
